*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#eceef2;
}

.container{
display:flex;
height:100vh;
}

.sidebar{
width:220px;
background:white;
padding:30px 15px;
}

.sidebar h2{
text-align:center;
margin-bottom:5px;
}

.sidebar p{
text-align:center;
margin-bottom:40px;
}

.menu{
width:100%;
padding:12px;
border:none;
margin-bottom:10px;
cursor:pointer;
background:#999;
color:white;
border-radius:5px;
}

.active{
background:black;
}

main{
flex:1;
padding:30px;
}

.topo{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

table{
width:100%;
background:white;
border-collapse:collapse;
}

th,td{
padding:15px;
border-bottom:1px solid #ddd;
text-align:center;
}

button{
padding:10px 15px;
border:none;
cursor:pointer;
border-radius:5px;
background:black;
color:white;
}

.danger{
background:#ff4d4d;
}

.modal{
display:none;
justify-content:center;
align-items:center;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.5);
}

.modal-content{
background:white;
padding:30px;
width:400px;
border-radius:10px;
display:flex;
flex-direction:column;
gap:15px;
}

input,
select{
padding:12px;
border:1px solid #ccc;
border-radius:5px;
}